<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<context-param>
		<param-name>pilotejdbc</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>urlconnexionjdbc</param-name>
		<param-value>jdbc:mysql://localhost:3306/equidag2</param-value>
	</context-param>
	<context-param>
		<param-name>utilisateurjdbc</param-name>
		<param-value>USR_EQUIG2</param-value>
	</context-param>
	<context-param>
		<param-name>motdepassejdbc</param-name>
		<param-value>mpEQUIDAG2</param-value>
	</context-param>
	<!--  écouteurs -->
	<listener>
		<listener-class>database.InitConnexion</listener-class>
	</listener>
	<servlet>
		<servlet-name>ServletVentes</servlet-name>
		<servlet-class>servlets.ServletVentes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletCourse</servlet-name>
		<servlet-class>servlets.ServletCourse</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletClient</servlet-name>
		<servlet-class>servlets.ServletClient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletAuthentification</servlet-name>
		<servlet-class>servlets.ServletAuthentification</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletAccueil</servlet-name>
		<servlet-class>servlets.ServletAccueil</servlet-class>
	</servlet>
        <servlet>
		<servlet-name>ServletCategVente</servlet-name>
		<servlet-class>servlets.ServletCategVente</servlet-class>
	</servlet>
        <servlet>
		<servlet-name>ServletCourriel</servlet-name>
		<servlet-class>servlets.ServletCourriel</servlet-class>
	</servlet>
        <servlet>
		<servlet-name>ServletPays</servlet-name>
		<servlet-class>servlets.ServletPays</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletCheval</servlet-name>
		<servlet-class>servlets.ServletCheval</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ServletLieu</servlet-name>
		<servlet-class>servlets.ServletLieu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletTypeCheval</servlet-name>
		<servlet-class>servlets.ServletTypeCheval</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ServletVentes</servlet-name>
		<url-pattern>/ServletVentes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletVentes</servlet-name>
		<url-pattern>/ServletVentes/listerLesVentes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletClient</servlet-name>
		<url-pattern>/ServletClient/listerLesClients</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCheval</servlet-name>
		<url-pattern>/ServletCheval/listerLesChevauxParVentes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCourriel</servlet-name>
		<url-pattern>/ServletCourriel/listerLesCourriels</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletClient</servlet-name>
		<url-pattern>/ServletClient/ajouterClient</url-pattern>
	</servlet-mapping>    
	<servlet-mapping>
		<servlet-name>ServletCheval</servlet-name>
		<url-pattern>/ServletCheval/ajouterCheval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCategVente</servlet-name>
		<url-pattern>/ServletCategVente/categorieVenteAjouter</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>ServletCategVente</servlet-name>
		<url-pattern>/ServletCategVente/categorieVenteModifier</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>ServletCategVente</servlet-name>
		<url-pattern>/ServletCategVente/listerLesCategVentes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPays</servlet-name>
		<url-pattern>/ServletPays/paysAjouter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPays</servlet-name>
		<url-pattern>/ServletPays/paysModifier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAuthentification</servlet-name>
		<url-pattern>/ServletAuthentification/connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAuthentification</servlet-name>
		<url-pattern>/ServletAuthentification/deconnexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLieu</servlet-name>
		<url-pattern>/ServletLieu/ajouterLieu</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>	
		<servlet-name>ServletAccueil</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>ServletTypeCheval</servlet-name>
        <url-pattern>/ServletTypeCheval/typeChevalAjouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ServletPays</servlet-name>
		<url-pattern>/ServletPays/listerLesPays</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCourse</servlet-name>
		<url-pattern>/ServletCourse/courseAjouter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCourse</servlet-name>
		<url-pattern>/ServletCourse/listerLesCourses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCourse</servlet-name>
		<url-pattern>/ServletCourse/courseModifier</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
</web-app>
